head
  link(rel="stylesheet", type="text/css", href="/stylesheets/application.css")
  link(rel="stylesheet", type="text/css", href="/stylesheets/button.css")
  script(src="/javascripts/jquery-1.7.min.js")
  script(src="/javascripts/application.js")
  script(src="/javascripts/mustache.js")
  script(src="/socket.io/socket.io.js")