!!! 5
html(lang="en")
  include includes/header
  body
    #templates.hidden
      #event
        .event
          div(class="event-type {{ eventType }} {{ extraData }}")
          .event-message
            p {{#messages}}{{en}}{{/messages}}

            .event-timestamp
              {{ timeStampUTC }}
    #content
      !=body
    include includes/footer