!!! 5
html(lang="en")
  include includes/header
  body
    #templates.hidden
      #event
        .event
          div(class="event-type {{ type }}")
          .event-message
            p
              {{ message }}
            .event-timestamp
              {{ timestamp }}
    #content
      !=body
    include includes/footer